.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    background: #1E3A5F;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.chart-container canvas {
    max-width: 100%;
    height: auto !important;
}


