.repo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #D0E6F2;
    width: 295px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.repo-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.repo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.repo-card .header {
    background-color: #1E3A5F;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 5px 10px rgba(33, 150, 243, 0.3);
}

.repo-card .info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.repo-card .repo-name {
    color: #263238;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-card .repo-owner {
    color: #263238;
    margin-top: -8px;
    margin-bottom: 8px;
}

.repo-card .repo-url {
    color: rgb(33, 150, 243);
    text-decoration: none;
    font-size: 0.875rem;
    word-wrap: break-word;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.repo-card .repo-url:hover {
    color: rgb(25, 118, 210);
    text-decoration: underline;
}

.repo-languages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.repo-languages p {
    margin-right: 5px;
}

.language-icon-small {
    width: 20px;
    height: 20px;
    margin: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.more-languages {
    font-size: 14px;
    color: #666;
}

.no-language {
    font-size: 14px;
    color: #666;
}

.language-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.language-icon-circle .language-icon {
    font-size: 40px;
    color: #333;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.heart-icon.white {
    color: white;
}

.heart-icon.red {
    color: #31A8E0;
}

.watchers-stars {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.watchers, .stars {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    font-size: 1rem;
    color: #333;
}

