    /* Frontend/src/styles/main.css */
    :root {
        --color-primary: #0056b3;
        --color-border: #ccc;
        --color-white: #fff;
        --color-black: #000;
        --color-gold: gold;
    }